header {
    padding: 10px;
    font-size: xx-large;
    margin-left: 28px;
}

nav {
    margin: 15px;
    margin-left: 38px;
}

.line{
    display: flex;
}

.img {
    min-height: 70px;
    height: 100%;
    width: 70px;
    object-fit: cover;
}

.name {
    margin-left: 50px;
    width: 200px;
}

.organization {
width: 200px;
}

.attacks {
width: 100px;
}

.status {
width: 100px;
}